<!-- 左侧导航列表-->
<div class="sidebar-nav">
    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-user"></i>客户数据</a>
    <ul id="dashboard-menu" class="nav nav-list collapse">
        <li><a href="/Seal/adminIndex">客户列表</a></li>
        <li ><a href="/Seal/cityList">地区列表</a></li>
    </ul>

    <a href="#basedData-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>基础数据管理</a>
    <ul id="basedData-menu" class="nav nav-list collapse">
        <li><a href="/Seal/fontAndColor">字体和颜色配置</a></li>
        <li ><a href="/Seal/formatEdit">印章板式配置</a></li>
        <li ><a href="/Seal/enterpriseType">企业类型管理</a></li>
        <li ><a href="/Seal/sealStatement">非首次刻章声明</a></li>
    </ul>

    <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>商品管理</a>
    <ul id="accounts-menu" class="nav nav-list collapse">
        <li ><a href="/Seal/data">商品管理</a></li>
        <li ><a href="/Seal/classification">商品类别</a></li>
        <li ><a href="/Seal/package">套餐管理</a></li>
        <li ><a href="/Seal/stuffAdmin">材质管理</a></li>
    </ul>


    <!-- <div id="jplayer"></div> -->

</div>