<div class="navbar">
    <div class="navbar-inner">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> <span id="adminName"></span>
                        <li><a tabindex="-1" href="logout">安全退出</a></li>
                    </a>
                </li>
            </ul>
            <a class="brand" href="adminindex" style="color:#FFFFFF;">管理中心首页 </a>
    </div>
</div>